## Pandas

In [ ]:
### pip install pandas

In [5]:
import pandas as pd

In [2]:
l = [1,2,3,5,6]
pd_sr = pd.Series(l)
print(pd_sr)

0    1
1    2
2    3
3    5
4    6
dtype: int64

In [3]:
l = [('1',1),('2',2),('3',3),('4',4),('5',5)]
sr = pd.Series(l, index=['a','b','c','d','e'])
print(sr)

a    (1, 1)
b    (2, 2)
c    (3, 3)
d    (4, 4)
e    (5, 5)
dtype: object

In [4]:
d = {"ram":15,"shyam":14,"gita":10}
sr = pd.Series(d)
print(sr)

ram      15
shyam    14
gita     10
dtype: int64

In [5]:
## 2-d
##Data frame
d = [{"ram":15,"shyam":14,"gita":10},{"ram":15,"shyam":14,"gita":10}]
df=pd.DataFrame(d)
print(df)

   ram  shyam  gita
0   15     14    10
1   15     14    10

In [6]:
l=[["sita",12],["gita",10],["ram",15]]
df = pd.DataFrame(l,columns=["Name","Age"])
print(df)

   Name  Age
0  sita   12
1  gita   10
2   ram   15

In [5]:
l=[["sita",12],["gita",10],["ram",15]]
df = pd.DataFrame(l,columns=["Name","Age"])
print(df["Age"])

0    12
1    10
2    15
Name: Age, dtype: int64

In [8]:
l = {"Name":["gita","sita"],"Age":[1,2]}
df = pd.DataFrame(l,columns=["Name","Age"])
print(df)

   Name  Age
0  gita    1
1  sita    2

In [16]:
### reading csv file
file = pd.read_csv(r"C:\Users\lenovo\Desktop\Data set\data.csv")
print(file)

          ITEM  QUANTITY   RATE   AMOUNT
0      CABINET        40   2356    94240
1          DVD        45   4000   180000
2          HDD        20   4523    90460
3          HDD        36   8923   321228
4          HDD        63   2568   161784
5   KEY BOARD         36   1500    54000
6   KEYV BOARD        78   1295   101010
7          LCD        17   2510    42670
8          LCD        45   2563   115335
9          LCD        78  12000   936000
10         LED        45  98000  4410000
11         LED        55   5000   275000
12      MOUSE         49    500    24500
13      MOUSE         71   7854   557634
14        RAM         12   8000    96000
15        RAM         24   4710   113040
16        RAM         25   5000   125000
17        RAM         89   1204   107156
18         UPS        19   4895    93005

In [4]:
### head method
print(file.head())

      ITEM  QUANTITY  RATE  AMOUNT
0  CABINET        40  2356   94240
1      DVD        45  4000  180000
2      HDD        20  4523   90460
3      HDD        36  8923  321228
4      HDD        63  2568  161784

In [5]:
### tail method
print(file.tail())

    ITEM  QUANTITY  RATE  AMOUNT
14  RAM         12  8000   96000
15  RAM         24  4710  113040
16  RAM         25  5000  125000
17  RAM         89  1204  107156
18   UPS        19  4895   93005

In [6]:
print(file.head(10))

         ITEM  QUANTITY   RATE  AMOUNT
0     CABINET        40   2356   94240
1         DVD        45   4000  180000
2         HDD        20   4523   90460
3         HDD        36   8923  321228
4         HDD        63   2568  161784
5  KEY BOARD         36   1500   54000
6  KEYV BOARD        78   1295  101010
7         LCD        17   2510   42670
8         LCD        45   2563  115335
9         LCD        78  12000  936000

In [7]:
print(file.tail(10))

      ITEM  QUANTITY   RATE   AMOUNT
9      LCD        78  12000   936000
10     LED        45  98000  4410000
11     LED        55   5000   275000
12  MOUSE         49    500    24500
13  MOUSE         71   7854   557634
14    RAM         12   8000    96000
15    RAM         24   4710   113040
16    RAM         25   5000   125000
17    RAM         89   1204   107156
18     UPS        19   4895    93005

In [8]:
### Loc method
print(file.loc[4:6])

         ITEM  QUANTITY  RATE  AMOUNT
4         HDD        63  2568  161784
5  KEY BOARD         36  1500   54000
6  KEYV BOARD        78  1295  101010

In [11]:
print(file.loc[[4,8,10]])

   ITEM  QUANTITY   RATE   AMOUNT
4   HDD        63   2568   161784
8   LCD        45   2563   115335
10  LED        45  98000  4410000

In [12]:
##  loc method to acces row and column 
print(file.loc[4:6,['ITEM',"RATE"]])

         ITEM  RATE
4         HDD  2568
5  KEY BOARD   1500
6  KEYV BOARD  1295

In [13]:
### COLUMN NAMES FIND
print(file.columns)

Index(['ITEM', 'QUANTITY', 'RATE', 'AMOUNT'], dtype='object')

In [17]:
## iloc method indexing
print(file.head())

## pass indexin row aur column
print(file.iloc[0,0])
print(file.iloc[3,0])
print(file.iloc[0,3])

      ITEM  QUANTITY  RATE  AMOUNT
0  CABINET        40  2356   94240
1      DVD        45  4000  180000
2      HDD        20  4523   90460
3      HDD        36  8923  321228
4      HDD        63  2568  161784
CABINET
HDD
94240

In [18]:
### slicing of row and column in ilock method
print(file.iloc[0:5,0:3])

      ITEM  QUANTITY  RATE
0  CABINET        40  2356
1      DVD        45  4000
2      HDD        20  4523
3      HDD        36  8923
4      HDD        63  2568

In [19]:
print(file.iloc[[0,3,5],[0,1,2]])

         ITEM  QUANTITY  RATE
0     CABINET        40  2356
3         HDD        36  8923
5  KEY BOARD         36  1500

In [20]:
### describe method
print(file.describe())

        QUANTITY          RATE        AMOUNT
count  19.000000     19.000000  1.900000e+01
mean   44.578947   9336.894737  4.156875e+05
std    22.886958  21679.706981  9.914375e+05
min    12.000000    500.000000  2.450000e+04
25%    24.500000   2433.000000  9.362250e+04
50%    45.000000   4523.000000  1.130400e+05
75%    59.000000   6427.000000  2.275000e+05
max    89.000000  98000.000000  4.410000e+06

In [21]:
print(file.describe().loc['mean']) ## access any thing

QUANTITY        44.578947
RATE          9336.894737
AMOUNT      415687.473684
Name: mean, dtype: float64

In [24]:
### aggregate function (## alternate of describe method)
file.aggregate({'QUANTITY':['min','max','mean'],'RATE':['min','max']})

       QUANTITY     RATE
min   12.000000    500.0
max   89.000000  98000.0
mean  44.578947      NaN

In [25]:
### apply method
l = [{"ram":15,"shyam":14,"gita":10},{"ram":15,"shyam":14,"gita":10}]
df = pd.DataFrame(l)
print(df)
def fun(val):
    return val+2
newdf = df.apply(fun)
print(newdf)

   ram  shyam  gita
0   15     14    10
1   15     14    10
   ram  shyam  gita
0   17     16    12
1   17     16    12

In [26]:
l = [{"ram":15,"shyam":14,"gita":10},{"ram":15,"shyam":14,"gita":10}]
df = pd.DataFrame(l)
print(df)

newdf = df.apply(lambda val:val+2)
print(newdf)

   ram  shyam  gita
0   15     14    10
1   15     14    10
   ram  shyam  gita
0   17     16    12
1   17     16    12

In [18]:


print(file.head())
file.drop(['RATE'],axis =1,inplace=True)
print(file.head())

      ITEM  QUANTITY  RATE  AMOUNT
0  CABINET        40  2356   94240
1      DVD        45  4000  180000
2      HDD        20  4523   90460
3      HDD        36  8923  321228
4      HDD        63  2568  161784
      ITEM  QUANTITY  AMOUNT
0  CABINET        40   94240
1      DVD        45  180000
2      HDD        20   90460
3      HDD        36  321228
4      HDD        63  161784

In [6]:
### insert values in column and row
l = [{"ram":15,"shyam":14,"gita":10},{"ram":15,"shyam":14,"gita":10}]
df = pd.DataFrame(l)
print(df)
df.insert(0,"sum",[1,2]) ## column 
df.loc[2]=[23,52,12,30] ## row
print(df)

   ram  shyam  gita
0   15     14    10
1   15     14    10
   sum  ram  shyam  gita
0    1   15     14    10
1    2   15     14    10
2   23   52     12    30

In [29]:
newfile=file.head()
newfile.insert(3,"sum",[1,2,3,4,5])
print(newfile)

      ITEM  QUANTITY  AMOUNT  sum
0  CABINET        40   94240    1
1      DVD        45  180000    2
2      HDD        20   90460    3
3      HDD        36  321228    4
4      HDD        63  161784    5

In [7]:
### sort values
newfile=file.head(10)
x=newfile.sort_values(['QUANTITY'],axis=0,inplace=False) 
print(newfile)
print(x)

         ITEM  QUANTITY   RATE  AMOUNT
0     CABINET        40   2356   94240
1         DVD        45   4000  180000
2         HDD        20   4523   90460
3         HDD        36   8923  321228
4         HDD        63   2568  161784
5  KEY BOARD         36   1500   54000
6  KEYV BOARD        78   1295  101010
7         LCD        17   2510   42670
8         LCD        45   2563  115335
9         LCD        78  12000  936000
         ITEM  QUANTITY   RATE  AMOUNT
7         LCD        17   2510   42670
2         HDD        20   4523   90460
3         HDD        36   8923  321228
5  KEY BOARD         36   1500   54000
0     CABINET        40   2356   94240
1         DVD        45   4000  180000
8         LCD        45   2563  115335
4         HDD        63   2568  161784
6  KEYV BOARD        78   1295  101010
9         LCD        78  12000  936000

In [35]:
### sort values
newfile=file.head(10)
newfile.sort_values(['QUANTITY'],axis=0,inplace=True,ascending=False)
print(newfile)

         ITEM  QUANTITY  AMOUNT
6  KEYV BOARD        78  101010
9         LCD        78  936000
4         HDD        63  161784
1         DVD        45  180000
8         LCD        45  115335
0     CABINET        40   94240
3         HDD        36  321228
5  KEY BOARD         36   54000
2         HDD        20   90460
7         LCD        17   42670

C:\Users\lenovo\AppData\Local\Temp\ipykernel_7012\2323269283.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newfile.sort_values(['QUANTITY'],axis=0,inplace=True,ascending=False)

In [43]:
### sort values
newfile=file.head(10)
newfile.sort_values(['AMOUNT'],axis=0,inplace=True)
print(newfile)

         ITEM  QUANTITY  AMOUNT
7         LCD        17   42670
5  KEY BOARD         36   54000
2         HDD        20   90460
0     CABINET        40   94240
6  KEYV BOARD        78  101010
8         LCD        45  115335
4         HDD        63  161784
1         DVD        45  180000
3         HDD        36  321228
9         LCD        78  936000

C:\Users\lenovo\AppData\Local\Temp\ipykernel_7012\3741052659.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newfile.sort_values(['AMOUNT'],axis=0,inplace=True)

In [42]:
### sort values
newfile=file.head(10)
newfile.sort_values(['QUANTITY','AMOUNT'],axis=0,inplace=True)
print(newfile)

         ITEM  QUANTITY  AMOUNT
7         LCD        17   42670
2         HDD        20   90460
5  KEY BOARD         36   54000
3         HDD        36  321228
0     CABINET        40   94240
8         LCD        45  115335
1         DVD        45  180000
4         HDD        63  161784
6  KEYV BOARD        78  101010
9         LCD        78  936000

C:\Users\lenovo\AppData\Local\Temp\ipykernel_7012\3161100415.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newfile.sort_values(['QUANTITY','AMOUNT'],axis=0,inplace=True)

In [44]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ITEM      19 non-null     object
 1   QUANTITY  19 non-null     int64
 2   AMOUNT    19 non-null     int64
dtypes: int64(2), object(1)
memory usage: 588.0+ bytes

In [47]:
## find null values
file.isnull().sum()

ITEM        0
QUANTITY    0
AMOUNT      0
dtype: int64

In [ ]:
## remove the null values from dataset
file.dropna(inplace=True)

In [ ]:
### read excel file
ex = pd.ExcelFile("path.xlsx")
print(ex.sheet_names)
df=ex.parse('Sheet2')
print(df.head())

In [ ]:
ex = pd.read_excel("path.xlsx")
print(ex.head())